*{
    border-color: rgb(34, 34, 34);
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f8f8ff;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

#title {
}

.envelope {
    
    border: 1px solid rgb(95, 95, 95);
    background: rgb(231, 231, 231);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70%;
    min-width: 250px;

}


.checklist,.add-more {
    margin-top: 10px;;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    
}

.checklist {
    border-radius: 5px;
}
.checklist.text{
    height: auto;
}

.checklist:hover{
    background-color:rgb(187, 185, 185)

}

.btn:hover{
    background-color:rgb(151, 151, 151)
} 

input.check{
    
    transform: scale(1.5);
    margin-right: 10px;
}

