*{
    border-color: rgb(34, 34, 34);

}
body {
    background-color: #f8f8ff;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}




.envelope {
    
    border: 1px solid rgb(95, 95, 95);
    background: rgb(231, 231, 231);
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: left;
    width: auto;
    height: 70%;
    min-width: 400px;
    padding:10px;

}


.checklist,.add-more {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    
}


.checklist {
    
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    width: 70%;

}


.text{
    font-weight: 300;

    background-color: rgb(231, 231, 231);
    height: auto;
    width: 65%;
    color: black;
    outline: none;
    border: none;
    margin: 0 10px;
}

.strike-through {
    text-decoration: line-through;
    color: rgb(92, 92, 92);
}

.add-button{
    width: 55px;
    font-size: 0.6em;
    background-color: rgb(231, 231, 231);
    border: 1.5px solid rgb(95, 95, 95);
    border-color:rgb(151, 151, 151);
    border-radius: 5px;
}

input.check{
    transform: scale(1.5);
    margin: 0 10px;
    accent-color: rgb(83, 83, 83);
}



.checklist:hover{
    cursor:pointer;
    transition-duration: 0.3s;
    box-shadow: 0 8px 11px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:rgb(185, 185, 185);
}

.checklist:hover .text{
    transition-duration: 0.3s;
    background-color:rgb(185, 185, 185);
}


.btn:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    background-color:rgb(151, 151, 151);
    border-color: rgb(85, 85, 85);
}


